<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveServers</key>
	<array>
		<string>com.apple.ppp.pptp</string>
	</array>
	<key>Servers</key>
	<dict>
		<key>com.apple.ppp.pptp</key>
		<dict>
			<key>DNS</key>
			<dict>
				<key>OfferedServerAddresses</key>
				<array>
					<string>8.8.8.8</string>
					<string>8.8.4.4</string>
				</array>
			</dict>
			<key>Server</key>
			<dict>
				<key>VerboseLogging</key>
				<integer>1</integer>
				<key>Logfile</key>
				<string>/var/log/ppp/vpnd.log</string>
				<key>MaximumSessions</key>
				<integer>128</integer>
			</dict>
			<key>Interface</key>
			<dict>
				<key>SubType</key>
				<string>PPTP</string>
				<key>Type</key>
				<string>PPP</string>
			</dict>
			<key>PPP</key>
			<dict>
				<key>DisconnectOnIdle</key>
				<integer>1</integer>
				<key>LCPEchoFailure</key>
				<integer>5</integer>
				<key>AuthenticatorEAPPlugins</key>
				<array>
					<string>EAP-RSA</string>
				</array>
				<key>AuthenticatorACLPlugins</key>
				<array/>
				<key>CCPEnabled</key>
				<integer>1</integer>
				<key>IPCPCompressionVJ</key>
				<integer>0</integer>
				<key>ACSPEnabled</key>
				<integer>1</integer>
				<key>LCPEchoEnabled</key>
				<integer>1</integer>
				<key>LCPEchoInterval</key>
				<integer>60</integer>
				<key>MPPEKeySize128</key>
				<integer>1</integer>
				<key>AuthenticatorProtocol</key>
				<array>
					<string>MSCHAP2</string>
				</array>
				<key>MPPEKeySize40</key>
				<integer>0</integer>
				<key>AuthenticatorPlugins</key>
				<array/>
				<key>Logfile</key>
				<string>/var/log/ppp/vpnd.log</string>
				<key>VerboseLogging</key>
				<integer>1</integer>
				<key>DisconnectOnIdleTimer</key>
				<integer>7200</integer>
				<key>CCPProtocols</key>
				<array>
					<string>MPPE</string>
				</array>
			</dict>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Manual</string>
				<key>DestAddressRanges</key>
				<array>
					<string>10.0.1.201</string>
					<string>10.0.1.220</string>
				</array>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
